* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0 auto;
    color: #181818;
    line-height: 2.5rem;
}

button {
    padding: 10px 20px;
    border-radius: 3px;
    font-size: large;
    border-color: #181818;
    transition: all 0.5s ease;
}

button:hover {
    color: white;
    background-color: #181818;
}

a:link {
    text-decoration: none;
    color: #181818;
}

/* Header and nav */

header {
    margin: 10px;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s ease;
}

nav ul {
    justify-content: flex-end;
    transition: all 0.5s ease;
}

nav li {
    border: 1px solid #181818;
    padding: 5px 10px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#nav-inactive {
    background-color: #181818;
    color: white;
}

.hero {
    height: 300px;
    margin: 20px;
    border: 2px solid #181818;
    padding: 30px;
}

/* Projects */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.myprojects {
    padding: 10px;
}

.project {
    margin: 0 auto;
}

.project-image {
    width: 300px;
    height: 250px;
    border: 2px solid #181818;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 50px 0;
}

.social {
    padding: 20px;
}

.icon {
    margin: 0 20px;
    color: #181818;
}

/* media query: 600px */
@media (min-width: 600px) {
    .myprojects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project {
        margin: 20px;
    }
}